<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	 <meta charset="UTF-8">
	 <title>Cadastro Funcionários - SGVET</title>
	 
	 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	 <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
	 <link rel="stylesheet" th:href="@{/css-app/styles.css}">
	 
	 <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	 
</head>
<body class="d-flex">
	<div th:replace="fragments/layout/navbar :: navbar"></div>
	
	<div class="container d-flex flex-column align-items-center">
		<form th:action="@{/funcionarios}" method="get" class="d-flex gap-2 header-button w-100">
				<div class="d-flex gap-2">
				        <input type="text" name="nome" class="form-control input-buscar" placeholder="Buscar funcionário por nome..." th:value="${param.nome}">
				        <button type="submit" class="btn btn-outline-primary button">Buscar</button>
			    </div>
				     <button type="button" class="btn btn-success button" data-bs-toggle="modal" data-bs-target="#novoFuncionarioModal">
				         Novo
				     </button>
		</form>
	
		<table class="table table-bordered table-hover mb-4">
		      <thead class="table-primary">
		           <tr>
		               <th>Nome</th>
		               <th>Cargo</th>
		               <th>Telefone</th>
					   <th>Ações</th>
		           </tr>
		        </thead>
		     <tbody>
		           <tr th:each="funcionario : ${funcionarios}">
		               <td th:text="${funcionario.nome}">Nome</td>
		               <td th:text="${funcionario.cargo}">Cargo</td>
		               <td th:text="${funcionario.telefone}">Telefone</td>
					   <td class="d-flex gap-2">
						<button class="btn-icon delete-btn" type="button" th:attr="data-id=${funcionario.id}">
							<i class="bi bi-trash text-dark fs-7 "></i>
						</button>
						<button 
							class="btn-icon edit-btn" 
							type="button"
							th:attr="data-id=${funcionario.id},
									 data-nome=${funcionario.nome},
									 data-email=${funcionario.email},
									 data-senha=${funcionario.senha},
									 data-telefone=${funcionario.telefone},
									 data-cargo=${funcionario.cargo},
									 data-horario_trabalho=${funcionario.horario_trabalho}"
						>
							<i class="bi bi-pencil-fill text-dark fs-7"></i>
						</button>
					   </td>
		           </tr>
		     </tbody>
		 </table>
	</div>
	
	<div th:replace="fragments/modal/modalFuncionario :: modalFuncionario"></div>
	
	
	<script th:src="@{/js-app/funcionarios/funcionario.js}"></script>
</body>
</html>