<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	 <meta charset="UTF-8">
	 <title>Cadastro Animais - SGVET</title>
	 
	 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	 <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
	 <link rel="stylesheet" th:href="@{/css-app/styles.css}">
	 <link rel="stylesheet" th:href="@{/css-app/animal/styles.css}">
	 
	 
	 <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	 
</head>
<body class="d-flex">
	<div th:replace="fragments/layout/navbar :: navbar"></div>
	
	<div class="container d-flex flex-column align-items-center">
		<form th:action="@{/animais}" method="get" class="d-flex gap-2 header-button w-100">
			<div class="d-flex gap-2">
				<input type="text" name="nome" class="form-control input-buscar" placeholder="Buscar animal por nome..." th:value="${param.nome}">
				<button type="submit" class="btn btn-outline-primary button">Buscar</button>
			</div>
			<button type="button" class="btn btn-success button" data-bs-toggle="modal" data-bs-target="#novoAnimalModal">
				Novo
			</button>
		</form>
		
		<table class="table table-bordered table-hover mb-4">
			<thead class="table-primary">
				<tr>
					<th>Nome</th>
				    <th>Espécie</th>
				    <th>Raça</th>
					<th>Peso</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="animal : ${animais}">
					<td th:text="${animal.nome}">Nome</td>
				    <td th:text="${animal.especie}">Especie</td>
				    <td th:text="${animal.raca}">Raça</td>
					<td th:text="${animal.peso}">Peso</td>
					<td class="d-flex gap-2">
						<button class="btn-icon delete-btn" type="button" th:attr="data-id=${animal.id}">
								<i class="bi bi-trash text-dark fs-7 "></i>
						</button>
						<button 
							class="btn-icon edit-btn" 
							type="button"
							th:attr="data-id=${animal.id},
									 data-nome=${animal.nome},
									 data-especie=${animal.especie},
									 data-raca=${animal.raca},
									 data-idade=${animal.idade},
									 data-sexo=${animal.sexo},
									 data-peso=${animal.peso},
									 data-cor=${animal.cor},
									 data-observacao=${animal.observacao},
									 data-cliente=${animal.cliente.id}"
									 
								>
									<i class="bi bi-pencil-fill text-dark fs-7"></i>
					    </button>
				    </td>
			    </tr>
		   </tbody>
		</table>
		
		<div th:replace="fragments/modal/modalAnimal :: modalAnimal"></div>
	</div>
	<script th:src="@{/js-app/animal/animal.js}"></script>
	<script th:src="@{/js-app/utils/deleteHandler.js}"></script>
</body>
</html>














