<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	 <meta charset="UTF-8">
	 <title>Cadastro Animais - SGVET</title>
	 
	 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	 <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
	 <link rel="stylesheet" th:href="@{/css-app/styles.css}">
	 <link rel="stylesheet" th:href="@{/css-app/animal/styles.css}">
	 
	 
	 <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	 
</head>
<body class="d-flex">
	<div th:replace="fragments/layout/navbar :: navbar"></div>
	
	<div class="container d-flex flex-column align-items-center">
		<form th:action="@{/animais}" method="get" class="d-flex gap-2 header-button w-100">
			<div class="d-flex gap-2">
				<input type="text" name="nome" class="form-control input-buscar" placeholder="Buscar animal por nome..." th:value="${param.nome}">
				<button type="submit" class="btn btn-outline-primary button">Buscar</button>
			</div>
			<button type="button" class="btn btn-success button" data-bs-toggle="modal" data-bs-target="#novoAnimalModal">
				Novo
			</button>
		</form>
		
		<table class="table table-bordered table-hover mb-4">
			<thead class="table-primary">
				<tr>
					<th>Nome</th>
				    <th>Espécie</th>
				    <th>Raça</th>
					<th>Peso</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="animal : ${animais}">
					<td th:text="${animal.nome}">Nome</td>
				    <td th:text="${animal.especie}">Especie</td>
				    <td th:text="${animal.raca}">Raça</td>
					<td th:text="${animal.peso}">Peso</td>
					<td class="d-flex gap-2">
						<button class="btn-icon delete-btn" type="button" th:attr="data-id=${animal.id}">
								<i class="bi bi-trash text-dark fs-7 "></i>
						</button>
						<button 
							class="btn-icon edit-btn" 
							type="button"
							th:attr="data-id=${animal.id},
									 data-nome=${animal.nome},
									 data-especie=${animal.especie},
									 data-raca=${animal.raca},
									 data-idade=${animal.idade},
									 data-sexo=${animal.sexo},
									 data-peso=${animal.peso},
									 data-cor=${animal.cor},
									 data-observacao=${animal.observacao},
									 data-cliente=${animal.cliente.id}"
									 
								>
									<i class="bi bi-pencil-fill text-dark fs-7"></i>
					    </button>
				    </td>
			    </tr>
		   </tbody>
		</table>
		
		<div class="modal fade w-100" id="novoAnimalModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				<form id="formAnimalModal" class="form-floating modal-content w-100" th:action="@{/animais}" th:object="${animal}" method="post">
					<div class="modal-header">
						<h5 class="modal-title">Novo Animal</h5>
						 <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body d-flex flex-column modal-all-inputs">
						<input type="hidden" name="id" th:field="*{id}"/>
						<div class="d-flex gap-2">
							<div class="d-flex align-items-center gap-2 w-100">
								<label for="floatingNome" class="form-label">Nome:</label>
								<input type="text" class="form-control" id="floatingNome"  th:field="*{nome}" required/>
								<p th:if="${#fields.hasErrors('*{nome}')}" th:errors="*{nome}" class="error-message text-danger">Nome é obrigatório.</p>
						    </div>	
							<div class="d-flex align-items-center gap-2 w-100">
								<label for="floatingEspecie">Espécie:</label>
								<p th:if="${#fields.hasErrors('*{especie}')}" th:errors="*{especie}" class="error-message text-danger">Espécie é obrigatório.</p>
							
								<select 
									class="form-select" 
									id="floatingEspecie" 
									th:field="*{especie}" 
									placeholder="selecione a espécie"
									aria-label="Espécie do animal" 
									onChange="filtrarRacas()"
									required
									
								>
										<option value="" selected>Selecione a espécie</option>
										<option value="Cachorro">Cachorro</option>
										<option value="Gato">Gato</option>
										<option value="Pássaro">Pássaro</option>
										<option value="Coelho">Coelho</option>
										<option value="Hamster">Hamster</option>
										<option value="Tartaruga">Tartaruga</option>
										<option value="Peixe">Peixe</option>
										<option value="Outro">Outro</option>
								 </select>
						    </div>
							<div class="section-raca d-flex align-items-center gap-2 w-100" id="racaContainer">
								<label for="floatingRaca">Raça:</label>
								<p th:if="${#fields.hasErrors('*{raca}')}" th:errors="*{raca}" class="error-message text-danger">Raça inválida</p>
								<select class="form-select" id="floatingRaca" th:field="*{raca}" placeholder="Selecione a raça" required>
								    <option value="" disabled selected>Selecione a raça</option>
								 </select>
							</div>
						</div>
						
						<div class="d-flex gap-2">
							<div class="d-flex align-items-center gap-2 w-100">
								<label class="form-label">Idade:</label>
								<input type="number" class="form-control" th:field="*{idade}" required/>
								<p th:if="${#fields.hasErrors('*{idade}')}" th:errors="*{idade}" class="error-message text-danger">Idade é obrigatório.</p>
							</div>
							<div class="d-flex align-items-center gap-2 w-100">
								<label class="form-label">Sexo:</label>
								<p th:if="${#fields.hasErrors('*{sexo}')}" th:errors="*{sexo}" class="error-message text-danger">Sexo é obrigatório.</p>
								<select class="form-select" th:field="*{sexo}" required>
									<option value="" selected>Selecione o sexo</option>
									<option value="FEMEA">Fêmea</option>
									<option value="MACHO">Macho</option>
								</select>
							</div>
							<div class="d-flex align-items-center gap-2 w-100">
								<label class="form-label">Peso:</label>
								<input type="number" class="form-control" th:field="*{peso}" required/>
								<p th:if="${#fields.hasErrors('*{peso}')}" th:errors="*{peso}" class="error-message text-danger">Peso é obrigatório.</p>
							</div>
							<div class="d-flex align-items-center gap-2 w-100">
								<label class="form-label">Cor:</label>
								<input type="text" class="form-control" th:field="*{cor}" required/>
								<p th:if="${#fields.hasErrors('*{cor}')}" th:errors="*{cor}" class="error-message text-danger">Cor é obrigatório.</p>
							</div>						
						</div>
						
						<div class="d-flex flex-column gap-2">
							<div class="d-flex align-items-center gap-2 w-100 mb-4">
								<label class="form-label">Cliente:</label>
								<!--<p th:if="${#fields.hasErrors('*{cor}')}" th:errors="*{cor}" class="error-message text-danger">Cor é obrigatório.</p>-->
								<select class="form-select" th:field="*{cliente}" required>
									<option value="" selected>Selecione o cliente</option>
									<option 
										th:each="cliente : ${clientes}"
										th:value="${cliente.id}" 
										th:text="${cliente.nome}">Dono</option>
								</select>
							</div>
							<div class="d-flex align-items-center gap-2 w-100">
								<!--<label class="form-label">Observações:</label>-->
								<textarea class="form-control" placeholder="Observações..." th:field="*{observacao}" required></textarea>
								<p th:if="${#fields.hasErrors('*{observacao}')}" th:errors="*{observacao}" class="error-message text-danger">Cor é obrigatório.</p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="modalSalvarBtn" class="btn btn-primary">Salvar</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<script th:src="@{/js-app/animal/animal.js}"></script>
</body>
</html>














