<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	 <meta charset="UTF-8">
	 <title>Nova Consulta - SGVET</title>
	 
	 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	 <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
	 <link rel="stylesheet" th:href="@{/css-app/consulta/styles.css}">
	 
	 <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	 
</head>
<body class="d-flex">
	<div th:replace="fragments/layout/navbar :: navbar"></div>
	
	<div class="d-flex flex-column justify-content-center container">
		
		<form 
			th:action="@{/consultas}" 
			th:object="${consulta}" 
			method="post" 
			class="d-flex flex-column form-section"
		>
		
			<div class="d-flex justify-content-between w-100">
				<h1>Nova Consulta</h1>
				<!--<a href="/consultas/lista" class="btn btn-secondary fs-5 w-10 px-4 py-1">-->
				<button type="button" class="btn btn-secondary fs-5 w-10 px-4 py-1">
					<a class="link" href="/consultas/lista">Consultas</a>
				</button>
			</div>
			
			<input type="hidden" th:field="*{id}" />
			<div class="d-flex area-inputs">
				<div class="d-flex align-items-center w-100">
					<!--<label for="funcionario">Veterinário:</label>-->
					<select 
						class="form-select"
						th:field="*{funcionario}" 
						placeholder="selecione o veterinário"
						required
														
					>
						<option value="" selected>Selecione  o veterinário...</option>
						<option 
							th:each="funcionario : ${funcionarios}"
							th:value="${funcionario.id}"
							th:text="${funcionario.nome}"
						></option>
					</select>			
				</div>
				<div class="d-flex align-items-center gap-2 w-100">
					<!--<label for="cliente">Dono do animal:</label>-->
					<select 
						class="form-select"				
						th:field="*{cliente}"				 
						placeholder="selecione o cliente"				
						required
																		
					>
						<option value="" selected>Selecione  o responsável...</option>
						<option 
							th:each="cliente : ${clientes}"
							th:value="${cliente.id}"
							th:text="${cliente.nome}"
						></option>
					</select>			
				</div>
				<div class="d-flex align-items-center gap-2 w-100">
					<!--<label for="animal">Animal:</label>-->
					<select
						class="form-select"
						th:field="*{animal}"
						placeholder="selecione o animal"
						required
					>
						<option value="" selected>Selecione  o animal...</option>
						<option 
							th:each="animal : ${animais}"
							th:value="${animal.id}"
							th:text="${animal.nome}"
						></option>
					</select>
				</div>
			</div>
			<div class="d-flex area-inputs">
				<div class="d-flex align-items-center gap-2 w-100">
					<label class="label-inputs" for="dia">Data:</label>
					<input
						type="date"
						id="dia"
						class="form-control"
						th:field="*{dia}"
						required
					/>
				</div>
				<div class="d-flex align-items-center gap-2 w-100">
					<label for="hora">Horário:</label>
					<input
						type="time"
						id="hora"
						class="form-control"
						th:field="*{hora}"
						required
					/>
				</div>
				<div class="d-flex align-items-center gap-2 w-100">
					<label class="label-inputs" for="status">Status:</label>
					<select
						class="form-select"
						th:field="*{status}"
						placeholder="selecione o status"
						required
					>
						<option value="Pendente" selected>Pendente</option>
						<option value="Finalizado" th:disabled="${consulta.id == null}">Finalizado</option>
						<option value="Adiado" th:disabled="${consulta.id == null}">Adiado</option>
						<option value="Cancelado" th:disabled="${consulta.id == null}">Cancelado</option>
				   </select>
				</div>
				<div class="d-flex align-items-center gap-2 w-100">
					<label class="label-inputs" for="hora">Valor:</label>
					<input type="number" id="valor" class="form-control" th:field="*{valor}" required />
				</div>
			</div>
			<div class="d-flex flex-column area-inputs">
				<div class="d-flex align-items-center gap-2 w-100">
					<textarea 
						class="form-control" 
						placeholder="Digite o motivo da consulta:" 
						th:field="*{motivo_consulta}" 
						required
						rows="5"
					>
					</textarea>
				</div>
				<div class="d-flex align-items-center gap-2 w-100">
					<textarea 
						class="form-control" 
						placeholder="Observações:" 
						th:field="*{observacoes}"
						rows="5"
					>
					</textarea>
				</div>
			</div>
			<div class="text-center button-save">
				<button type="submit" class="btn btn-primary fs-4 w-10 px-5">Salvar</button>
			</div>
		</form>
	</div>
</body>
</html>









