.container {
	max-width: 1200px;
	margin-top: 40px;
}

.header-button {
	margin-bottom: 50px;
}

.input-buscar {
	width: 400px;
}

.button {
	width: 100px;
}

.area-buscar {
	max-width: 750px;
}

.modal {
	width: 800px;
}

.teste {
	background-color: blue; 
}