<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	 <meta charset="UTF-8">
	 
	 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	 <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
</head>
<body>
	<nav class="nav flex-column bg-primary vh-100" style="width: 260px;" th:fragment="navbar">
	  <a class="d-flex align-items-center gap-1 nav-link text-decoration-none text-white mt-3 fs-5" href="#">
		<i class="bi bi-house text-warning fs-4"></i> Página Inicial
	 </a>
	  <a class="d-flex align-items-center gap-1 nav-link text-decoration-none text-white fs-5" href="#">
		<i class="bi bi-heart-pulse text-warning fs-4"></i> Pet
	 </a>
	  <a class="d-flex align-items-center gap-1 nav-link text-decoration-none text-white fs-5" href="#">
		 <i class="bi bi-clipboard-heart text-warning fs-4"></i> Consultas
	 </a>
	  <a class="d-flex align-items-center gap-1 nav-link text-decoration-none text-white fs-5">
		 <i class="bi bi-people text-warning fs-4"></i> Clientes
	 </a>
	 <a class="d-flex align-items-center gap-1 nav-link text-decoration-none text-white fs-5">
	 	 <i class="bi bi-people text-warning fs-4"></i> Funcionários
	 </a>
	</nav>
</body>
</html>